{% extends "learning_logs/base.html" %}

{% block content %}

    <section>
        <h2>Key Features:</h2>
        <ul>
            <li>Easy Entry: Seamlessly log your daily learning activities with a user-friendly interface. Record notes,
                ideas, and thoughts as you learn.
            </li>
            <li>Categorize & Tag: Organize your entries with categories and tags for quick and convenient searching.
            </li>
            <li>Reflection Prompts: Our app provides thoughtful prompts to guide your reflections, fostering deeper
                insights.
            </li>
            <li>Progress Tracking: Visualize your learning progress through graphs and statistics. Stay motivated and
                see how far you've come!
            </li>
            <li>Reminder System: Set custom reminders to maintain consistency and make learning a daily habit.</li>
            <li>Privacy & Security: Your data is safe with us. Learning Log employs top-notch security measures to
                protect your valuable information.
            </li>
            <li>Access Anywhere: Access your learning log from any device - be it your smartphone, tablet, or
                computer.
            </li>
        </ul>
    </section>

    <section>
        <h2>How It Works:</h2>
        <ol>
            <li>Sign Up: Create your account for free and get started on your learning journey.</li>
            <li>Log Your Learning: Record your daily learnings, insights, and takeaways.</li>
            <li>Organize & Tag: Categorize your entries and add relevant tags for easy sorting.</li>
            <li>Reflect: Engage in reflection with our thought-provoking prompts to gain deeper understanding.</li>
            <li>Track Progress: Monitor your progress over time and celebrate your achievements.</li>
        </ol>
    </section>

    <section>
        <h2>Why Choose Learning Log:</h2>
        <ul>
            <li>Efficiency: Spend less time organizing and more time learning.</li>
            <li>Insights: Discover patterns and connections between different learning experiences.</li>
            <li>Accountability: Stay committed to your learning goals with the help of reminders.</li>
            <li>Enhanced Learning: Reflecting on your experiences enhances your learning potential.</li>
            <li>Personal Growth: Witness your growth and transformation as a lifelong learner.</li>
        </ul>
    </section>

{% endblock content %}
