{% extends "learning_logs/base.html" %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Organiza y aprende.</h1>
        <p class="lead">Haga tu propio registro de aprendizaje y mantenga una lista de los temas sobre los que está aprendiendo.
            Cada vez que aprenda algo nuevo sobre un tema, haga una entrada que resuma lo que ha aprendido.</p>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
           role="button">Register &raquo;</a>
    </div>
{% endblock page_header %}

{% block content %}

    <section>
        <h2>Funcionalidades:</h2>
        <ul>
            <li> Entrada fácil: registre sin problemas sus actividades de aprendizaje diarias con una interfaz fácil de usar.
                Registre notas, ideas y pensamientos a medida que aprende.
            </li>
            <li>Privacidad y seguridad: sus datos están seguros con nosotros. Learning Log emplea medidas de seguridad de
                primer nivel para proteger su valiosa información.
            </li>
            <li>
                Acceda desde cualquier lugar: acceda a su registro de aprendizaje desde cualquier dispositivo,
                ya sea su teléfono inteligente, tableta o computadora.
            </li>
        </ul>
    </section>

    <section>
        <h2>Cómo funciona:</h2>
        <ol>
            <li>Regístrese: cree su cuenta de forma gratuita y comience su viaje de aprendizaje.</li>
            <li>Registre su aprendizaje: registre sus aprendizajes diarios, ideas y conclusiones.</li>
        </ol>
    </section>

{% endblock content %}
