{% extends "learning_logs/base.html" %}

{% block page_header %}
 <h1>Topics</h1>
{% endblock page_header %}

{% block content %}
    <h3><a href="{% url 'learning_logs:newTopic' %}">Agregar topic</a></h3>
    <ul>
        {% for topic in topics %}
            <li><h3>
                <a href="{% url 'learning_logs:getTopic' topic.id %}">{{ topic }}</a>
            </h3></li>
        {% empty %}
             <li><h3>No existen topics.</h3></li>
        {% endfor %}
    </ul>

{% endblock content %}